@model IEnumerable<API.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpTechSkills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpDateOfJoining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpDesignationNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpMgr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpTechSkills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpDateOfJoining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpDesignationNavigation.DesignationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpMgr.EmpId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
